. param

param.example(){
    local i
    printf "Example:\n"
    for (( i=1; i<${#@}; i++ )); do
        printf "  $(tput setaf 6)%s:$(tput init)\n" "* ${!i}"
        (( i++ ))
        printf "    > $(tput setaf 2)%s$(tput init)\n" "${!i}"
    done
}

param.example \
    "Rebuild the page in sort order 'repo,time,update'" \
    "gt.repo.page.build --org x-bash --repo std --sort repo,time,update" \
    "Retrieve the page info" \
    "gt.repo.page.info --org x-bash --repo std"

echo

# param.help "" "access" \
#     "public" \
#     "public|private, default , ..." \
#     "access name" \
#     "abc" \
#     "aaa" \
#     "cde" \
#     "kka"

echo

param.help "" "access" \
    "public" \
    "public|private|inner-source|all|what, default private" \
    "access name" \
    "abc" \
    "aaa" \
    "cde" \
    "kka"
